header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10em;
  background-color: #00a0a0
}

.log-in-button {
  height: 2.5em;
  width: 5em;
  border: 1px solid #101357;
  background-color: teal;
}


/* Mountain Shadow Blue: #101357

Old Makeup Pink: #fea49f

Goldenrod Yellow: #fbaf08

Bluebell Light Blue: #00a0a0

Bold 2019 Green: #007f4f */
