header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6em;
  color: #81ADC8;
  font-size: 28px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #101357;
  background-color: #960200;
}

.log-in-button {
  height: 2.5em;
  width: 5em;
  border: 1px solid #101357;
  background-color: #81ADC8;
}

/*
Bright blue: #51e2f5

Blue Green: #9df9ef

Dusty White: #edf756

Pink Sand: #ffa8B6

Dark Sand: #a28089 */

/* Mountain Shadow Blue: #101357

Old Makeup Pink: #fea49f

Goldenrod Yellow: #fbaf08

Bluebell Light Blue: #00a0a0

Bold 2019 Green: #007f4f */
