body {
    background-color: #DEA47E;
}

.all-movies-component {

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*
Bright blue: #51e2f5

Blue Green: #9df9ef

Dusty White: #edf756

Pink Sand: #ffa8B6

Dark Sand: #a28089 */

/* Mountain Shadow Blue: #101357

Old Makeup Pink: #fea49f

Goldenrod Yellow: #fbaf08

Bluebell Light Blue: #00a0a0

Bold 2019 Green: #007f4f */
