body {
    background-color: teal;
}

.all-movies-component {

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Mountain Shadow Blue: #101357

Old Makeup Pink: #fea49f

Goldenrod Yellow: #fbaf08

Bluebell Light Blue: #00a0a0

Bold 2019 Green: #007f4f */
