.movieCard {
  background-color: teal;
  border: 1px solid #101357;
  padding-bottom 1em;
}

.movieCard > img {
  width: 100%;
}
/* Mountain Shadow Blue: #101357

Old Makeup Pink: #fea49f

Goldenrod Yellow: #fbaf08

Bluebell Light Blue: #00a0a0

Bold 2019 Green: #007f4f */
